*{
    font-family: 'Roboto', sans-serif;
    // border: 1px solid red;
}

$color-first: orange;
$color-second: #0b0b0b;
$color-third: rgb(209, 209, 209);
$color-fourth: rgb(20, 20, 20);

html{
    height: 100%;
}

body{
    background-color: $color-second;
    height: 100%;

    @media only screen and (max-width: 1300px)  {
        height: auto;
    }

    header{
        nav{
            display: flex;
            padding: 1em;

            @media only screen and (max-width: 1300px)  {
                position: fixed;
                z-index: 100;
                background-color: $color-fourth;
                width: 100%;
                flex-flow: row nowrap;
            }


            menu{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin: 0;
                height: 2em;
                padding: 0;

                .icon{
                    display: none;
                    height: 100%;
                    width: 3em;
                    cursor: pointer;
                    i{
                        color: white;
                        font-size: 2em;
                    }
                }

                @media only screen and (max-width: 1000px)  {
                    height: auto;
                    flex-flow: column;
                    align-items: start;
                    .icon{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        width: 4em;
                        height: 3em;
                    }
                }

                ul{
                    display: flex;
                    padding: 2em ;
                    margin: 0;
                    row-gap: 1em;
                    column-gap: 2em;
                    list-style: none;

                    @media only screen and (max-width: 1000px)  {
                        display: none;
                        &.show{
                            display: flex;
                        }
                    }
                    
                    li{
                        position: relative;

                    
                        @media only screen and (max-width: 1000px)  {
                            font-size: 1.4em;
                        }

                        a{
                            padding: 0 0;
                            font-weight: bold;
                            text-decoration: none;
                            color: white;
                            height: 10em;
                            font-size: 1.2em;

                            @mixin before{
                                position: absolute;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: .6em;
                                background-color: $color-first;
                                border-radius: 0 0 .25em .25em;
                                transition: all .5s;
                            }

                            &::before{
                                @include before;
                                top: -2em;
                                transition: all 1s;
                            }

                            &:hover{
                                color: $color-first;
                                transition: all 1s;
                            }

                            &.active{
                                color: $color-first;
                                &::before{
                                    @include before;
                                    top: -1.1em;
                                }
                            }

                            
                            &:hover::before{
                                top: -1.1em;
                                transition: all .5s;
                            }
                        }
                    }

                    @media only screen and (max-width: 1000px)  {
                        flex-flow: column;
                        padding: 1em 1em;
                        height: auto;

                        li{
                            a::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1000px)  {
            nav{
                justify-content: space-between;
            }
        }
    }

    main{
        height: calc(100% - 7em);
        display: flex;
        overflow: AUTO;

        @media only screen and (max-width: 1300px)  {
            flex-flow: column nowrap;
            height: auto;
            width: 100%;
        }


        .scrollable{
            height: 100%;
            display: flex;
            flex-flow: row nowrap;


            @media only screen and (max-width: 1300px)  {
                flex-flow: column nowrap;
                height: auto;
            }
            
            .section{
                min-height: 100%;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-attachment: fixed;


                @media only screen and (max-width: 1300px)  {
                    min-height: 100vh;
                    width: 100%;
                    // background-attachment: initial;
                    background-position: bottom;
                }

                .background{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                .next{
                    position: absolute;
                    width: 4em;
                    height: 4em;
                    background-color: $color-first;
                    border-radius: 100%;
                    cursor: pointer;
                    right: 2em;
                    background-image: url('../img/arrow-left.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2em;
                    transition: background 1s;

                    &:hover{
                        background-position: 1.5em;
                        transition: background 1s;
                    }

                        
                    @media only screen and (max-width: 1300px)  {
                        transform: rotateZ(90deg);
                        bottom: 6em;
                        left: calc(50% - 2em);
                    }

                }

                .hello{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    max-width: 40em;

                    .container{
                        position: relative;
                        width: 60em;

                        @media only screen and (max-width: 1300px)  {
                            width: 100%;
                            max-width: 50em;
                        }
                        h1{
                            margin: 0;
                            color: white;
                            font-size: 8em;
                            text-shadow: .05em .05em 2px rgb(46, 46, 46);
                            b{
                                color: $color-first;
                            }

                            @media only screen and (max-width: 1300px)  {
                                font-size: 7em;
                            }

                            @media only screen and (max-width: 900px)  {
                                font-size: 5em;
                            }
                        }

                        p.title{
                            color: $color-third;
                            position: absolute;
                            top: calc(50% - 3em);
                            right: 0em;
                            width: 12em;
                            line-height: 2em;
                            text-shadow: $color-second 5px 0 10px;
                            font-size: 1.25em;
                            b{
                                font-size: 1.5em;
                            }

                            @media only screen and (max-width: 1300px)  {
                                position: relative;
                                top: 0;
                                right: 0em;
                                width: 12em;
                            }
                        }
                    }
                }
                
                .profile{
                    color: white;
                    max-width: 75em;
                    width: 100%;
                    display: flex;
                    column-gap: 5em;

                    @media only screen and (max-width: 1300px)  {
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        max-width: 75em;
                    }
                        
                    .avatar{
                        width: 25em;
                        height: 30em;
                        background-color: $color-first;
                        border-radius: 1.5em;

                        @media only screen and (max-width: 1300px)  {
                            width: 15em;
                            height: 15em;
                        }

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 1.5em;
                        }
                    }

                    aside{
                        h2{
                            font-size: 4em;
                            b{
                                color: $color-first;
                            }
                        }

                        .grid{
                            display: flex;
                            margin-left: 5em ;
                            @media only screen and (max-width: 1300px)  {
                                flex-flow: column nowrap;
                            }

                            @media only screen and (max-width: 900px)  {
                                margin: 0;
                            }

                            .clm{
                                ul{
                                    margin: 0;
                                    padding: 0;
                                    li{
                                        align-items: center;
                                        display: flex;
                                        line-height: 2em;
                                        font-size: 1.25em;
                                        b{
                                            color: $color-first;
                                            padding-right: .5em;
                                        }
                                        @media only screen and (max-width: 900px)  {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                h2.reverse{
                    position: absolute;
                    margin: 0;
                    left: 0;
                    top: 0;
                    font-size: 3em;
                    /* height: 100%; */
                    transform: rotateZ(-90deg);
                    translate: 0em 3em;
                    text-shadow: $color-second 5px 0 10px;

                    @media only screen and (max-width: 1300px)  {
                        transform: rotateZ(0deg);
                        translate: initial;
                        position: relative;
                        text-align: center;
                    }
                }

                @mixin section__container{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-left: 15em;
                    gap: 3em;

                }

                &#skills,&#experiences{
                    @media only screen and (max-width: 900px)  {
                        background-position: center;
                        background-size: cover;
                    }
                }

                .skill{
                    color: white;
                    display: flex;
                    flex-flow: row nowrap;
                    column-gap: 5em;
                    position: relative;

                    @media only screen and (max-width: 1300px)  {
                        flex-flow: column nowrap;
                        row-gap: 5em;
                    }

                    @media only screen and (max-width: 900px)  {
                        padding: 2em 0;
                    }

                    &__container{
                        @include section__container;
                    
                        @media only screen and (max-width: 1300px)  {
                            margin-left: 0;
                        }

                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            width: 100%;
                            gap: 5em;
                            
                            @media only screen and (max-width: 900px)  {
                                flex-flow: row wrap;
                                justify-content: center;
                            }


                            li{
                                text-align: center;
                                width: 10em;
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: center;
                                align-items: center;
                                text-shadow: $color-second 5px 0 10px;
                            
                                @media only screen and (max-width: 900px)  {
                                    width: 6em;
                                }
                                
                                .icon{
                                    background-color: $color-fourth;
                                    width: 6em;
                                    height: 6em;
                                    transform: rotateZ(45deg);
                                    border-radius: 1em;
                                    margin-bottom: 2em;
                                    display: flex;
                                    flex-flow: row nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    color: $color-first;
                                    i{
                                        font-size: 3em;
                                        transform: rotateZ(-45deg);
                                    }
                                }
                            }
                        }
                    }
                }


                .portfolio{
                    color: white;
                    position: relative;

                    
                    &__container{
                        @include section__container;
                    }
                }


                .contact{
                    color: white;
                    position: relative;

                    
                    &__container{
                        @include section__container;
                    }
                }


                .resume{
                    color: white;
                    position: relative;
                    
                    @media only screen and (max-width: 1300px)  {
                        padding: 5em 0;
                    }

                    &__container{
                        @include section__container;
                        margin: 2em 0 2em 12em;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                    
                        @media only screen and (max-width: 1300px)  {
                            margin-left: 0;
                        }
                        .row{
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            column-gap: 2em;
                            position: relative;

                            @media only screen and (max-width: 900px)  {
                                flex-flow: column nowrap;
                                row-gap: 2em;
                            }

                            &:last-child{
                                column-gap: 3em;
                            }

                            &.timeline{
                                width: 38em;
                                height: .25em;
                                background-color: $color-fourth ;
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                justify-content: space-between;
                                
                                li{
                                    width: 1em;
                                    height: 1em;
                                    border-radius: .1em;
                                    transform: rotateZ(45deg);
                                    background-color: $color-first;
                                }

                                @media only screen and (max-width: 900px)  {
                                    top: 4.5em;
                                    left: -3em;
                                    width: 0.25em;
                                    height: 50em;

                                    position: absolute;

                                    li{
                                        margin-left: -0.5em;
                                    }
                                }
                            }

                            article{
                                background-color: $color-fourth;
                                border-radius: 1em;
                                padding: 2em 5em 2em 3em;
                                display: flex;
                                flex-flow: column;
                                row-gap: .25em;
                                position: relative;
                                width: 8.5em;
                                background-size: 4em;
                                background-repeat: no-repeat;
                                background-position: calc(100% - 1em) calc(100% - 1em);

                                @mixin arrow-bottom{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    margin: 1em auto;
                                    position: absolute;
                                    left: calc(50% - 1em);
                                    border-top: 1em solid $color-fourth;
                                    border-left: .8em solid transparent;
                                    border-right: .8em solid transparent;
                                }

                                &.top:after{
                                    @include arrow-bottom;
                                    bottom: -2em;


                                    @media only screen and (max-width: 900px)  {
                                        transform: rotateZ(90deg);
                                        left: -1.25em;
                                        top: calc(50% - 1.5em);
                                    }
                                }

                                &.teacher{
                                    background-image: url(../img/teacher.svg);
                                }

                                &.code{
                                    background-image: url(../img/code.svg);
                                }

                                &.degree{
                                    background-image: url(../img/degree.svg);
                                }
                                

                                &.bottom:after{
                                    @include arrow-bottom;
                                    transform: rotateZ(180deg);
                                    top: -2em;


                                    @media only screen and (max-width: 900px)  {
                                        transform: rotateZ(90deg);
                                        left: -1.25em;
                                        top: calc(50% - 1.5em);
                                    }

                                }

                                h4{
                                    margin: 0 0 1em;
                                    font-size: 1.2em;
                                    font-weight: normal;
                                    color: $color-first;
                                }

                                span{
                                    font-size: 1em;
                                    line-height: 1.5em;
                                    i{

                                    }
                                }
                            }
                        }
                    }
                }

                .portfolio{
                    color: white;
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    row-gap: 5em;

                    @media only screen and (max-width: 1300px)  {
                        padding-bottom: 10em ;
                    }

                    
                    &__container{
                        @include section__container;
                        flex-flow: row wrap;
                        max-width: 60em;
                        overflow: auto;
                        @media only screen and (max-width: 1300px)  {
                            margin-left: 0;
                        }

                        article{
                            width: 18em;

                            a.picture{
                                width: calc(100% - .5em);
                                height: 12em;
                                border-radius: 1em;
                                overflow: hidden;
                                border-radius: 1em;
                                display: block;
                                border: .25em solid $color-third;
                                
                                img{
                                    width: 100%;
                                    height: 15em;
                                    object-position: center;
                                    object-fit: cover;
                                    transition: all 1s;
                                    filter: grayscale(1);

                                    &:hover{
                                        transform: scale(1.1);
                                        filter: grayscale(0);
                                    }
                                }
                            }

                            .text{
                                h4{
                                    
                                }

                                .tags{
                                    display: flex;
                                    flex-flow: row wrap;
                                    gap: .25em;

                                    span{
                                        border-radius: .5em;
                                        padding: .5em 1em;
                                        background-color: $color-first;
                                        color: white;
                                        font-size: .8em;
                                    }
                                }
                            }
                        }
                    }
                }

                &#contact{
                    @media only screen and (max-width: 900px)  {
                        background-size: cover;
                    }
                }

                .contact{
                    display: flex;
                    flex-flow: column nowrap;
                    row-gap: 5em;
                    @media only screen and (max-width: 900px)  {
                        padding: 1em;
                    }

                    &__container{
                        @include section__container;
                        @media only screen and (max-width: 1300px)  {
                            margin-left: 0;
                        }
                        
                        form{
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            row-gap: 1em;
                        }
                        .row{
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            column-gap: 1em;
                        }

                        .clm{

                        }

                        button{
                            color: white;
                            padding: .8em 2em;
                            border-radius: 1em;
                            line-height: 1em;
                            border: none;
                            cursor: pointer;
                            font-weight: bold;
                            background-color: $color-first;
                        }

                        .field{
                            display: flex;
                            flex-flow: column nowrap;
                            row-gap: .5em;
                            width: 100%;

                            label{
                                margin-left: 1em;
                            }

                            input{
                                width: 100%;
                                color: white;
                                padding: .8em 1em;
                                border-radius: 1em;
                                line-height: 1em;
                                border: none;
                                background-color: #1a1a1a;
                            }

                            textarea{
                                width: 100%;
                                color: white;
                                padding: .8em 1em;
                                border-radius: 1em;
                                line-height: 1em;
                                border: none;
                                min-height: 10em;
                                resize: vertical;
                                background-color: #1a1a1a;
                            }
                        }

                    }
                }
            }
        }
    }

    footer{
        width: calc(100% - 2em);
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-second;
        position: fixed;
        bottom: 0;
        height: 5em;
        width: 100%;

        @media only screen and (max-width: 1300px)  {
            padding: 0.5em 0;
            height: 1em;
        }
        @media only screen and (max-width: 900px)  {
            background-color: transparent;
        }


        .progress{
            width: 100%;
            max-width: 40em;
            background-color: $color-fourth;
            border-radius: 1em;
            position: relative;
            height: 0.5em;

            @media only screen and (max-width: 900px)  {
                max-width: calc(100% - 8em);
            }

            @media only screen and (max-width: 1300px)  {
            }

            .bar{
                height: .5em;
                width: 3em;
                border-radius: 1em;
                background-color: $color-first;
                width: 2em;
                color: $color-first;
                position: absolute;
                label{
                    color: $color-first;
                    position: absolute;
                    top: -2em;
                    left: -1.5em;
                    text-align: center;
                }
            }
        }
    }
}